<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>更新履歴 | とし部屋@SSBU</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css?4" />
</head>
<body>
    <h1>更新履歴</h1>
    <h3>2019/02/17</h3>
    ページを公開しました。<br>
    <h3>2019/02/18</h3>
    長いコメントによるレイアウト崩れを直しました。<br>
    Miiとランダムのアイコンを追加しました。<br>
    入力欄の妥当性確認を強めました。<br>
    体力制を追加してデザインを若干変更しました。<br>
    <h3>2019/02/19</h3>
    部屋埋まり時の色を変えました。<br>
    制限時間を選択式にし、1.5分や2.5分を選べるようにしました。<br>
    コメント内のURLをリンクするようにしました。配信いいよね<br>
    アイコンを追加しました。ポケトレごめんいつか並び替える<br>
    <h3>2019/02/20</h3>
    今度こそURLがリンクするようにしました。1コメントにつき1つだけ<br>
    開始時刻と終了予定時刻の欄を付けてみました。時間になったら勝手に消えるとかはまだないです<br>
    <h3>2019/02/21</h3>
    デザインを若干変更しました。<br>
    部屋制作時にパスワードを一時保存するようにしました(cookieを有効にしてください)。<br>
    部屋ID編集機能を付けました。ID横のペンマークを押すと編集できます。<br>
    <h3>2019/02/23</h3>
    スレのテンプレに変換してコピーできるボタンを付けました。このサイトが見られない人もいるのでなるべくスレにも貼ってくれると助かります。<br>
    <h3>2019/02/26</h3>
    部屋一覧と部屋立てをひっくり返しました。<br>
    タイマンと乱闘のありがちな設定を一括入力できるボタンを付けました。<br>
    <h3>2019/03/03</h3>
    一括入力ボタンで部屋人数も埋まるようにしました。<br>
    <h3>2019/03/29</h3>
    部屋が立つとmayスマブラdiscordへ通知が行くようにしました。<br>
    <h3>2019/04/12</h3>
    配信許可マークをつけました。配信してもいいよって人は配信許可にチェックを入れてください。<br>
    配信する人は部屋一覧の許可マークを押すとURLを入力できます。配信URLが入った状態でマークをクリックすると配信に飛べます。<br>
    <a href="/">戻る</a>
</body>