<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/static/img/icon.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>とし部屋@SSBU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css?9" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
</head>
<body>
    <h1 style="text-align: center">とし部屋</h1>
    <div id="app">
        <h2 style="text-align: center">部屋一覧</h2>
        <div v-if="roomList.length == 0" style="text-align: center">現在立っている部屋はありません。</div>
        <room-list
            v-for="room in roomList"
            v-bind:key="room.key"
            v-bind:room="room"
        ></room-list>
    </div>
    <hr>
    <h2 style="text-align:center">部屋立て</h2>
    <div id="display">
    </div>
    <script src="/static/main.js?14"></script>
    <hr>
    <footer>
        <h3>使い方</h3>
        ・ブラウザはIE非推奨です。<br>
        ・javascriptを有効にしてください。<br>
        ・必要事項を入力して「部屋をリストに追加」を押すと追加できます。<br>
        ・ページを更新しなくても、リストの内容は常に更新されます。<br>
        ・リストの「+」「-」ボタンは、編集用パスが一致する場合に押すことができます。<br>
        ・つまり、基本的には部屋を立てた人がその後を管理してください。<br>
        ・人数が1人になっているときに「-」を押すと部屋を消すことができます。<br>
        ・荒らされることは考えてないので良心的に楽しく使ってください。<br>
        <a href="/history">更新履歴</a>
    </footer>
</body>
</html>