// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-0-name: 'sprite-0';
$sprite-0-x: 156px;
$sprite-0-y: 103px;
$sprite-0-offset-x: -156px;
$sprite-0-offset-y: -103px;
$sprite-0-width: 51px;
$sprite-0-height: 51px;
$sprite-0-total-width: 565px;
$sprite-0-total-height: 513px;
$sprite-0-image: '/img/sprite.png';
$sprite-0: (156px, 103px, -156px, -103px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-0', );
$sprite-1-name: 'sprite-1';
$sprite-1-x: 0px;
$sprite-1-y: 0px;
$sprite-1-offset-x: 0px;
$sprite-1-offset-y: 0px;
$sprite-1-width: 52px;
$sprite-1-height: 52px;
$sprite-1-total-width: 565px;
$sprite-1-total-height: 513px;
$sprite-1-image: '/img/sprite.png';
$sprite-1: (0px, 0px, 0px, 0px, 52px, 52px, 565px, 513px, '/img/sprite.png', 'sprite-1', );
$sprite-10-name: 'sprite-10';
$sprite-10-x: 52px;
$sprite-10-y: 0px;
$sprite-10-offset-x: -52px;
$sprite-10-offset-y: 0px;
$sprite-10-width: 52px;
$sprite-10-height: 52px;
$sprite-10-total-width: 565px;
$sprite-10-total-height: 513px;
$sprite-10-image: '/img/sprite.png';
$sprite-10: (52px, 0px, -52px, 0px, 52px, 52px, 565px, 513px, '/img/sprite.png', 'sprite-10', );
$sprite-100-name: 'sprite-100';
$sprite-100-x: 0px;
$sprite-100-y: 156px;
$sprite-100-offset-x: 0px;
$sprite-100-offset-y: -156px;
$sprite-100-width: 51px;
$sprite-100-height: 51px;
$sprite-100-total-width: 565px;
$sprite-100-total-height: 513px;
$sprite-100-image: '/img/sprite.png';
$sprite-100: (0px, 156px, 0px, -156px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-100', );
$sprite-101-name: 'sprite-101';
$sprite-101-x: 51px;
$sprite-101-y: 156px;
$sprite-101-offset-x: -51px;
$sprite-101-offset-y: -156px;
$sprite-101-width: 51px;
$sprite-101-height: 51px;
$sprite-101-total-width: 565px;
$sprite-101-total-height: 513px;
$sprite-101-image: '/img/sprite.png';
$sprite-101: (51px, 156px, -51px, -156px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-101', );
$sprite-102-name: 'sprite-102';
$sprite-102-x: 102px;
$sprite-102-y: 156px;
$sprite-102-offset-x: -102px;
$sprite-102-offset-y: -156px;
$sprite-102-width: 51px;
$sprite-102-height: 51px;
$sprite-102-total-width: 565px;
$sprite-102-total-height: 513px;
$sprite-102-image: '/img/sprite.png';
$sprite-102: (102px, 156px, -102px, -156px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-102', );
$sprite-103-name: 'sprite-103';
$sprite-103-x: 153px;
$sprite-103-y: 156px;
$sprite-103-offset-x: -153px;
$sprite-103-offset-y: -156px;
$sprite-103-width: 51px;
$sprite-103-height: 51px;
$sprite-103-total-width: 565px;
$sprite-103-total-height: 513px;
$sprite-103-image: '/img/sprite.png';
$sprite-103: (153px, 156px, -153px, -156px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-103', );
$sprite-104-name: 'sprite-104';
$sprite-104-x: 208px;
$sprite-104-y: 0px;
$sprite-104-offset-x: -208px;
$sprite-104-offset-y: 0px;
$sprite-104-width: 51px;
$sprite-104-height: 51px;
$sprite-104-total-width: 565px;
$sprite-104-total-height: 513px;
$sprite-104-image: '/img/sprite.png';
$sprite-104: (208px, 0px, -208px, 0px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-104', );
$sprite-105-name: 'sprite-105';
$sprite-105-x: 208px;
$sprite-105-y: 51px;
$sprite-105-offset-x: -208px;
$sprite-105-offset-y: -51px;
$sprite-105-width: 51px;
$sprite-105-height: 51px;
$sprite-105-total-width: 565px;
$sprite-105-total-height: 513px;
$sprite-105-image: '/img/sprite.png';
$sprite-105: (208px, 51px, -208px, -51px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-105', );
$sprite-106-name: 'sprite-106';
$sprite-106-x: 208px;
$sprite-106-y: 102px;
$sprite-106-offset-x: -208px;
$sprite-106-offset-y: -102px;
$sprite-106-width: 51px;
$sprite-106-height: 51px;
$sprite-106-total-width: 565px;
$sprite-106-total-height: 513px;
$sprite-106-image: '/img/sprite.png';
$sprite-106: (208px, 102px, -208px, -102px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-106', );
$sprite-11-name: 'sprite-11';
$sprite-11-x: 0px;
$sprite-11-y: 52px;
$sprite-11-offset-x: 0px;
$sprite-11-offset-y: -52px;
$sprite-11-width: 52px;
$sprite-11-height: 52px;
$sprite-11-total-width: 565px;
$sprite-11-total-height: 513px;
$sprite-11-image: '/img/sprite.png';
$sprite-11: (0px, 52px, 0px, -52px, 52px, 52px, 565px, 513px, '/img/sprite.png', 'sprite-11', );
$sprite-12-name: 'sprite-12';
$sprite-12-x: 208px;
$sprite-12-y: 153px;
$sprite-12-offset-x: -208px;
$sprite-12-offset-y: -153px;
$sprite-12-width: 51px;
$sprite-12-height: 51px;
$sprite-12-total-width: 565px;
$sprite-12-total-height: 513px;
$sprite-12-image: '/img/sprite.png';
$sprite-12: (208px, 153px, -208px, -153px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-12', );
$sprite-13-name: 'sprite-13';
$sprite-13-x: 0px;
$sprite-13-y: 207px;
$sprite-13-offset-x: 0px;
$sprite-13-offset-y: -207px;
$sprite-13-width: 51px;
$sprite-13-height: 51px;
$sprite-13-total-width: 565px;
$sprite-13-total-height: 513px;
$sprite-13-image: '/img/sprite.png';
$sprite-13: (0px, 207px, 0px, -207px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-13', );
$sprite-14-name: 'sprite-14';
$sprite-14-x: 51px;
$sprite-14-y: 207px;
$sprite-14-offset-x: -51px;
$sprite-14-offset-y: -207px;
$sprite-14-width: 51px;
$sprite-14-height: 51px;
$sprite-14-total-width: 565px;
$sprite-14-total-height: 513px;
$sprite-14-image: '/img/sprite.png';
$sprite-14: (51px, 207px, -51px, -207px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-14', );
$sprite-15-name: 'sprite-15';
$sprite-15-x: 102px;
$sprite-15-y: 207px;
$sprite-15-offset-x: -102px;
$sprite-15-offset-y: -207px;
$sprite-15-width: 51px;
$sprite-15-height: 51px;
$sprite-15-total-width: 565px;
$sprite-15-total-height: 513px;
$sprite-15-image: '/img/sprite.png';
$sprite-15: (102px, 207px, -102px, -207px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-15', );
$sprite-16-name: 'sprite-16';
$sprite-16-x: 153px;
$sprite-16-y: 207px;
$sprite-16-offset-x: -153px;
$sprite-16-offset-y: -207px;
$sprite-16-width: 51px;
$sprite-16-height: 51px;
$sprite-16-total-width: 565px;
$sprite-16-total-height: 513px;
$sprite-16-image: '/img/sprite.png';
$sprite-16: (153px, 207px, -153px, -207px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-16', );
$sprite-17-name: 'sprite-17';
$sprite-17-x: 204px;
$sprite-17-y: 207px;
$sprite-17-offset-x: -204px;
$sprite-17-offset-y: -207px;
$sprite-17-width: 51px;
$sprite-17-height: 51px;
$sprite-17-total-width: 565px;
$sprite-17-total-height: 513px;
$sprite-17-image: '/img/sprite.png';
$sprite-17: (204px, 207px, -204px, -207px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-17', );
$sprite-18-name: 'sprite-18';
$sprite-18-x: 259px;
$sprite-18-y: 0px;
$sprite-18-offset-x: -259px;
$sprite-18-offset-y: 0px;
$sprite-18-width: 51px;
$sprite-18-height: 51px;
$sprite-18-total-width: 565px;
$sprite-18-total-height: 513px;
$sprite-18-image: '/img/sprite.png';
$sprite-18: (259px, 0px, -259px, 0px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-18', );
$sprite-19-name: 'sprite-19';
$sprite-19-x: 259px;
$sprite-19-y: 51px;
$sprite-19-offset-x: -259px;
$sprite-19-offset-y: -51px;
$sprite-19-width: 51px;
$sprite-19-height: 51px;
$sprite-19-total-width: 565px;
$sprite-19-total-height: 513px;
$sprite-19-image: '/img/sprite.png';
$sprite-19: (259px, 51px, -259px, -51px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-19', );
$sprite-2-name: 'sprite-2';
$sprite-2-x: 52px;
$sprite-2-y: 52px;
$sprite-2-offset-x: -52px;
$sprite-2-offset-y: -52px;
$sprite-2-width: 52px;
$sprite-2-height: 52px;
$sprite-2-total-width: 565px;
$sprite-2-total-height: 513px;
$sprite-2-image: '/img/sprite.png';
$sprite-2: (52px, 52px, -52px, -52px, 52px, 52px, 565px, 513px, '/img/sprite.png', 'sprite-2', );
$sprite-20-name: 'sprite-20';
$sprite-20-x: 259px;
$sprite-20-y: 102px;
$sprite-20-offset-x: -259px;
$sprite-20-offset-y: -102px;
$sprite-20-width: 51px;
$sprite-20-height: 51px;
$sprite-20-total-width: 565px;
$sprite-20-total-height: 513px;
$sprite-20-image: '/img/sprite.png';
$sprite-20: (259px, 102px, -259px, -102px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-20', );
$sprite-21-name: 'sprite-21';
$sprite-21-x: 259px;
$sprite-21-y: 153px;
$sprite-21-offset-x: -259px;
$sprite-21-offset-y: -153px;
$sprite-21-width: 51px;
$sprite-21-height: 51px;
$sprite-21-total-width: 565px;
$sprite-21-total-height: 513px;
$sprite-21-image: '/img/sprite.png';
$sprite-21: (259px, 153px, -259px, -153px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-21', );
$sprite-22-name: 'sprite-22';
$sprite-22-x: 259px;
$sprite-22-y: 204px;
$sprite-22-offset-x: -259px;
$sprite-22-offset-y: -204px;
$sprite-22-width: 51px;
$sprite-22-height: 51px;
$sprite-22-total-width: 565px;
$sprite-22-total-height: 513px;
$sprite-22-image: '/img/sprite.png';
$sprite-22: (259px, 204px, -259px, -204px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-22', );
$sprite-23-name: 'sprite-23';
$sprite-23-x: 0px;
$sprite-23-y: 258px;
$sprite-23-offset-x: 0px;
$sprite-23-offset-y: -258px;
$sprite-23-width: 51px;
$sprite-23-height: 51px;
$sprite-23-total-width: 565px;
$sprite-23-total-height: 513px;
$sprite-23-image: '/img/sprite.png';
$sprite-23: (0px, 258px, 0px, -258px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-23', );
$sprite-24-name: 'sprite-24';
$sprite-24-x: 51px;
$sprite-24-y: 258px;
$sprite-24-offset-x: -51px;
$sprite-24-offset-y: -258px;
$sprite-24-width: 51px;
$sprite-24-height: 51px;
$sprite-24-total-width: 565px;
$sprite-24-total-height: 513px;
$sprite-24-image: '/img/sprite.png';
$sprite-24: (51px, 258px, -51px, -258px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-24', );
$sprite-25-name: 'sprite-25';
$sprite-25-x: 102px;
$sprite-25-y: 258px;
$sprite-25-offset-x: -102px;
$sprite-25-offset-y: -258px;
$sprite-25-width: 51px;
$sprite-25-height: 51px;
$sprite-25-total-width: 565px;
$sprite-25-total-height: 513px;
$sprite-25-image: '/img/sprite.png';
$sprite-25: (102px, 258px, -102px, -258px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-25', );
$sprite-26-name: 'sprite-26';
$sprite-26-x: 153px;
$sprite-26-y: 258px;
$sprite-26-offset-x: -153px;
$sprite-26-offset-y: -258px;
$sprite-26-width: 51px;
$sprite-26-height: 51px;
$sprite-26-total-width: 565px;
$sprite-26-total-height: 513px;
$sprite-26-image: '/img/sprite.png';
$sprite-26: (153px, 258px, -153px, -258px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-26', );
$sprite-27-name: 'sprite-27';
$sprite-27-x: 204px;
$sprite-27-y: 258px;
$sprite-27-offset-x: -204px;
$sprite-27-offset-y: -258px;
$sprite-27-width: 51px;
$sprite-27-height: 51px;
$sprite-27-total-width: 565px;
$sprite-27-total-height: 513px;
$sprite-27-image: '/img/sprite.png';
$sprite-27: (204px, 258px, -204px, -258px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-27', );
$sprite-28-name: 'sprite-28';
$sprite-28-x: 255px;
$sprite-28-y: 258px;
$sprite-28-offset-x: -255px;
$sprite-28-offset-y: -258px;
$sprite-28-width: 51px;
$sprite-28-height: 51px;
$sprite-28-total-width: 565px;
$sprite-28-total-height: 513px;
$sprite-28-image: '/img/sprite.png';
$sprite-28: (255px, 258px, -255px, -258px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-28', );
$sprite-29-name: 'sprite-29';
$sprite-29-x: 310px;
$sprite-29-y: 0px;
$sprite-29-offset-x: -310px;
$sprite-29-offset-y: 0px;
$sprite-29-width: 51px;
$sprite-29-height: 51px;
$sprite-29-total-width: 565px;
$sprite-29-total-height: 513px;
$sprite-29-image: '/img/sprite.png';
$sprite-29: (310px, 0px, -310px, 0px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-29', );
$sprite-3-name: 'sprite-3';
$sprite-3-x: 156px;
$sprite-3-y: 52px;
$sprite-3-offset-x: -156px;
$sprite-3-offset-y: -52px;
$sprite-3-width: 52px;
$sprite-3-height: 51px;
$sprite-3-total-width: 565px;
$sprite-3-total-height: 513px;
$sprite-3-image: '/img/sprite.png';
$sprite-3: (156px, 52px, -156px, -52px, 52px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-3', );
$sprite-30-name: 'sprite-30';
$sprite-30-x: 310px;
$sprite-30-y: 51px;
$sprite-30-offset-x: -310px;
$sprite-30-offset-y: -51px;
$sprite-30-width: 51px;
$sprite-30-height: 51px;
$sprite-30-total-width: 565px;
$sprite-30-total-height: 513px;
$sprite-30-image: '/img/sprite.png';
$sprite-30: (310px, 51px, -310px, -51px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-30', );
$sprite-31-name: 'sprite-31';
$sprite-31-x: 310px;
$sprite-31-y: 102px;
$sprite-31-offset-x: -310px;
$sprite-31-offset-y: -102px;
$sprite-31-width: 51px;
$sprite-31-height: 51px;
$sprite-31-total-width: 565px;
$sprite-31-total-height: 513px;
$sprite-31-image: '/img/sprite.png';
$sprite-31: (310px, 102px, -310px, -102px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-31', );
$sprite-32-name: 'sprite-32';
$sprite-32-x: 310px;
$sprite-32-y: 153px;
$sprite-32-offset-x: -310px;
$sprite-32-offset-y: -153px;
$sprite-32-width: 51px;
$sprite-32-height: 51px;
$sprite-32-total-width: 565px;
$sprite-32-total-height: 513px;
$sprite-32-image: '/img/sprite.png';
$sprite-32: (310px, 153px, -310px, -153px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-32', );
$sprite-33-name: 'sprite-33';
$sprite-33-x: 310px;
$sprite-33-y: 204px;
$sprite-33-offset-x: -310px;
$sprite-33-offset-y: -204px;
$sprite-33-width: 51px;
$sprite-33-height: 51px;
$sprite-33-total-width: 565px;
$sprite-33-total-height: 513px;
$sprite-33-image: '/img/sprite.png';
$sprite-33: (310px, 204px, -310px, -204px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-33', );
$sprite-34-name: 'sprite-34';
$sprite-34-x: 310px;
$sprite-34-y: 255px;
$sprite-34-offset-x: -310px;
$sprite-34-offset-y: -255px;
$sprite-34-width: 51px;
$sprite-34-height: 51px;
$sprite-34-total-width: 565px;
$sprite-34-total-height: 513px;
$sprite-34-image: '/img/sprite.png';
$sprite-34: (310px, 255px, -310px, -255px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-34', );
$sprite-35-name: 'sprite-35';
$sprite-35-x: 0px;
$sprite-35-y: 309px;
$sprite-35-offset-x: 0px;
$sprite-35-offset-y: -309px;
$sprite-35-width: 51px;
$sprite-35-height: 51px;
$sprite-35-total-width: 565px;
$sprite-35-total-height: 513px;
$sprite-35-image: '/img/sprite.png';
$sprite-35: (0px, 309px, 0px, -309px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-35', );
$sprite-36-name: 'sprite-36';
$sprite-36-x: 51px;
$sprite-36-y: 309px;
$sprite-36-offset-x: -51px;
$sprite-36-offset-y: -309px;
$sprite-36-width: 51px;
$sprite-36-height: 51px;
$sprite-36-total-width: 565px;
$sprite-36-total-height: 513px;
$sprite-36-image: '/img/sprite.png';
$sprite-36: (51px, 309px, -51px, -309px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-36', );
$sprite-37-name: 'sprite-37';
$sprite-37-x: 102px;
$sprite-37-y: 309px;
$sprite-37-offset-x: -102px;
$sprite-37-offset-y: -309px;
$sprite-37-width: 51px;
$sprite-37-height: 51px;
$sprite-37-total-width: 565px;
$sprite-37-total-height: 513px;
$sprite-37-image: '/img/sprite.png';
$sprite-37: (102px, 309px, -102px, -309px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-37', );
$sprite-38-name: 'sprite-38';
$sprite-38-x: 153px;
$sprite-38-y: 309px;
$sprite-38-offset-x: -153px;
$sprite-38-offset-y: -309px;
$sprite-38-width: 51px;
$sprite-38-height: 51px;
$sprite-38-total-width: 565px;
$sprite-38-total-height: 513px;
$sprite-38-image: '/img/sprite.png';
$sprite-38: (153px, 309px, -153px, -309px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-38', );
$sprite-39-name: 'sprite-39';
$sprite-39-x: 204px;
$sprite-39-y: 309px;
$sprite-39-offset-x: -204px;
$sprite-39-offset-y: -309px;
$sprite-39-width: 51px;
$sprite-39-height: 51px;
$sprite-39-total-width: 565px;
$sprite-39-total-height: 513px;
$sprite-39-image: '/img/sprite.png';
$sprite-39: (204px, 309px, -204px, -309px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-39', );
$sprite-4-name: 'sprite-4';
$sprite-4-x: 104px;
$sprite-4-y: 0px;
$sprite-4-offset-x: -104px;
$sprite-4-offset-y: 0px;
$sprite-4-width: 52px;
$sprite-4-height: 52px;
$sprite-4-total-width: 565px;
$sprite-4-total-height: 513px;
$sprite-4-image: '/img/sprite.png';
$sprite-4: (104px, 0px, -104px, 0px, 52px, 52px, 565px, 513px, '/img/sprite.png', 'sprite-4', );
$sprite-40-name: 'sprite-40';
$sprite-40-x: 255px;
$sprite-40-y: 309px;
$sprite-40-offset-x: -255px;
$sprite-40-offset-y: -309px;
$sprite-40-width: 51px;
$sprite-40-height: 51px;
$sprite-40-total-width: 565px;
$sprite-40-total-height: 513px;
$sprite-40-image: '/img/sprite.png';
$sprite-40: (255px, 309px, -255px, -309px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-40', );
$sprite-41-name: 'sprite-41';
$sprite-41-x: 306px;
$sprite-41-y: 309px;
$sprite-41-offset-x: -306px;
$sprite-41-offset-y: -309px;
$sprite-41-width: 51px;
$sprite-41-height: 51px;
$sprite-41-total-width: 565px;
$sprite-41-total-height: 513px;
$sprite-41-image: '/img/sprite.png';
$sprite-41: (306px, 309px, -306px, -309px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-41', );
$sprite-42-name: 'sprite-42';
$sprite-42-x: 361px;
$sprite-42-y: 0px;
$sprite-42-offset-x: -361px;
$sprite-42-offset-y: 0px;
$sprite-42-width: 51px;
$sprite-42-height: 51px;
$sprite-42-total-width: 565px;
$sprite-42-total-height: 513px;
$sprite-42-image: '/img/sprite.png';
$sprite-42: (361px, 0px, -361px, 0px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-42', );
$sprite-43-name: 'sprite-43';
$sprite-43-x: 361px;
$sprite-43-y: 51px;
$sprite-43-offset-x: -361px;
$sprite-43-offset-y: -51px;
$sprite-43-width: 51px;
$sprite-43-height: 51px;
$sprite-43-total-width: 565px;
$sprite-43-total-height: 513px;
$sprite-43-image: '/img/sprite.png';
$sprite-43: (361px, 51px, -361px, -51px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-43', );
$sprite-44-name: 'sprite-44';
$sprite-44-x: 361px;
$sprite-44-y: 102px;
$sprite-44-offset-x: -361px;
$sprite-44-offset-y: -102px;
$sprite-44-width: 51px;
$sprite-44-height: 51px;
$sprite-44-total-width: 565px;
$sprite-44-total-height: 513px;
$sprite-44-image: '/img/sprite.png';
$sprite-44: (361px, 102px, -361px, -102px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-44', );
$sprite-45-name: 'sprite-45';
$sprite-45-x: 361px;
$sprite-45-y: 153px;
$sprite-45-offset-x: -361px;
$sprite-45-offset-y: -153px;
$sprite-45-width: 51px;
$sprite-45-height: 51px;
$sprite-45-total-width: 565px;
$sprite-45-total-height: 513px;
$sprite-45-image: '/img/sprite.png';
$sprite-45: (361px, 153px, -361px, -153px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-45', );
$sprite-46-name: 'sprite-46';
$sprite-46-x: 361px;
$sprite-46-y: 204px;
$sprite-46-offset-x: -361px;
$sprite-46-offset-y: -204px;
$sprite-46-width: 51px;
$sprite-46-height: 51px;
$sprite-46-total-width: 565px;
$sprite-46-total-height: 513px;
$sprite-46-image: '/img/sprite.png';
$sprite-46: (361px, 204px, -361px, -204px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-46', );
$sprite-47-name: 'sprite-47';
$sprite-47-x: 361px;
$sprite-47-y: 255px;
$sprite-47-offset-x: -361px;
$sprite-47-offset-y: -255px;
$sprite-47-width: 51px;
$sprite-47-height: 51px;
$sprite-47-total-width: 565px;
$sprite-47-total-height: 513px;
$sprite-47-image: '/img/sprite.png';
$sprite-47: (361px, 255px, -361px, -255px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-47', );
$sprite-48-name: 'sprite-48';
$sprite-48-x: 361px;
$sprite-48-y: 306px;
$sprite-48-offset-x: -361px;
$sprite-48-offset-y: -306px;
$sprite-48-width: 51px;
$sprite-48-height: 51px;
$sprite-48-total-width: 565px;
$sprite-48-total-height: 513px;
$sprite-48-image: '/img/sprite.png';
$sprite-48: (361px, 306px, -361px, -306px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-48', );
$sprite-49-name: 'sprite-49';
$sprite-49-x: 0px;
$sprite-49-y: 360px;
$sprite-49-offset-x: 0px;
$sprite-49-offset-y: -360px;
$sprite-49-width: 51px;
$sprite-49-height: 51px;
$sprite-49-total-width: 565px;
$sprite-49-total-height: 513px;
$sprite-49-image: '/img/sprite.png';
$sprite-49: (0px, 360px, 0px, -360px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-49', );
$sprite-5-name: 'sprite-5';
$sprite-5-x: 104px;
$sprite-5-y: 52px;
$sprite-5-offset-x: -104px;
$sprite-5-offset-y: -52px;
$sprite-5-width: 52px;
$sprite-5-height: 52px;
$sprite-5-total-width: 565px;
$sprite-5-total-height: 513px;
$sprite-5-image: '/img/sprite.png';
$sprite-5: (104px, 52px, -104px, -52px, 52px, 52px, 565px, 513px, '/img/sprite.png', 'sprite-5', );
$sprite-50-name: 'sprite-50';
$sprite-50-x: 51px;
$sprite-50-y: 360px;
$sprite-50-offset-x: -51px;
$sprite-50-offset-y: -360px;
$sprite-50-width: 51px;
$sprite-50-height: 51px;
$sprite-50-total-width: 565px;
$sprite-50-total-height: 513px;
$sprite-50-image: '/img/sprite.png';
$sprite-50: (51px, 360px, -51px, -360px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-50', );
$sprite-51-name: 'sprite-51';
$sprite-51-x: 102px;
$sprite-51-y: 360px;
$sprite-51-offset-x: -102px;
$sprite-51-offset-y: -360px;
$sprite-51-width: 51px;
$sprite-51-height: 51px;
$sprite-51-total-width: 565px;
$sprite-51-total-height: 513px;
$sprite-51-image: '/img/sprite.png';
$sprite-51: (102px, 360px, -102px, -360px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-51', );
$sprite-52-name: 'sprite-52';
$sprite-52-x: 153px;
$sprite-52-y: 360px;
$sprite-52-offset-x: -153px;
$sprite-52-offset-y: -360px;
$sprite-52-width: 51px;
$sprite-52-height: 51px;
$sprite-52-total-width: 565px;
$sprite-52-total-height: 513px;
$sprite-52-image: '/img/sprite.png';
$sprite-52: (153px, 360px, -153px, -360px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-52', );
$sprite-53-name: 'sprite-53';
$sprite-53-x: 204px;
$sprite-53-y: 360px;
$sprite-53-offset-x: -204px;
$sprite-53-offset-y: -360px;
$sprite-53-width: 51px;
$sprite-53-height: 51px;
$sprite-53-total-width: 565px;
$sprite-53-total-height: 513px;
$sprite-53-image: '/img/sprite.png';
$sprite-53: (204px, 360px, -204px, -360px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-53', );
$sprite-54-name: 'sprite-54';
$sprite-54-x: 255px;
$sprite-54-y: 360px;
$sprite-54-offset-x: -255px;
$sprite-54-offset-y: -360px;
$sprite-54-width: 51px;
$sprite-54-height: 51px;
$sprite-54-total-width: 565px;
$sprite-54-total-height: 513px;
$sprite-54-image: '/img/sprite.png';
$sprite-54: (255px, 360px, -255px, -360px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-54', );
$sprite-55-name: 'sprite-55';
$sprite-55-x: 306px;
$sprite-55-y: 360px;
$sprite-55-offset-x: -306px;
$sprite-55-offset-y: -360px;
$sprite-55-width: 51px;
$sprite-55-height: 51px;
$sprite-55-total-width: 565px;
$sprite-55-total-height: 513px;
$sprite-55-image: '/img/sprite.png';
$sprite-55: (306px, 360px, -306px, -360px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-55', );
$sprite-56-name: 'sprite-56';
$sprite-56-x: 357px;
$sprite-56-y: 360px;
$sprite-56-offset-x: -357px;
$sprite-56-offset-y: -360px;
$sprite-56-width: 51px;
$sprite-56-height: 51px;
$sprite-56-total-width: 565px;
$sprite-56-total-height: 513px;
$sprite-56-image: '/img/sprite.png';
$sprite-56: (357px, 360px, -357px, -360px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-56', );
$sprite-57-name: 'sprite-57';
$sprite-57-x: 412px;
$sprite-57-y: 0px;
$sprite-57-offset-x: -412px;
$sprite-57-offset-y: 0px;
$sprite-57-width: 51px;
$sprite-57-height: 51px;
$sprite-57-total-width: 565px;
$sprite-57-total-height: 513px;
$sprite-57-image: '/img/sprite.png';
$sprite-57: (412px, 0px, -412px, 0px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-57', );
$sprite-58-name: 'sprite-58';
$sprite-58-x: 412px;
$sprite-58-y: 51px;
$sprite-58-offset-x: -412px;
$sprite-58-offset-y: -51px;
$sprite-58-width: 51px;
$sprite-58-height: 51px;
$sprite-58-total-width: 565px;
$sprite-58-total-height: 513px;
$sprite-58-image: '/img/sprite.png';
$sprite-58: (412px, 51px, -412px, -51px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-58', );
$sprite-59-name: 'sprite-59';
$sprite-59-x: 412px;
$sprite-59-y: 102px;
$sprite-59-offset-x: -412px;
$sprite-59-offset-y: -102px;
$sprite-59-width: 51px;
$sprite-59-height: 51px;
$sprite-59-total-width: 565px;
$sprite-59-total-height: 513px;
$sprite-59-image: '/img/sprite.png';
$sprite-59: (412px, 102px, -412px, -102px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-59', );
$sprite-6-name: 'sprite-6';
$sprite-6-x: 0px;
$sprite-6-y: 104px;
$sprite-6-offset-x: 0px;
$sprite-6-offset-y: -104px;
$sprite-6-width: 52px;
$sprite-6-height: 52px;
$sprite-6-total-width: 565px;
$sprite-6-total-height: 513px;
$sprite-6-image: '/img/sprite.png';
$sprite-6: (0px, 104px, 0px, -104px, 52px, 52px, 565px, 513px, '/img/sprite.png', 'sprite-6', );
$sprite-60-name: 'sprite-60';
$sprite-60-x: 412px;
$sprite-60-y: 153px;
$sprite-60-offset-x: -412px;
$sprite-60-offset-y: -153px;
$sprite-60-width: 51px;
$sprite-60-height: 51px;
$sprite-60-total-width: 565px;
$sprite-60-total-height: 513px;
$sprite-60-image: '/img/sprite.png';
$sprite-60: (412px, 153px, -412px, -153px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-60', );
$sprite-61-name: 'sprite-61';
$sprite-61-x: 412px;
$sprite-61-y: 204px;
$sprite-61-offset-x: -412px;
$sprite-61-offset-y: -204px;
$sprite-61-width: 51px;
$sprite-61-height: 51px;
$sprite-61-total-width: 565px;
$sprite-61-total-height: 513px;
$sprite-61-image: '/img/sprite.png';
$sprite-61: (412px, 204px, -412px, -204px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-61', );
$sprite-62-name: 'sprite-62';
$sprite-62-x: 412px;
$sprite-62-y: 255px;
$sprite-62-offset-x: -412px;
$sprite-62-offset-y: -255px;
$sprite-62-width: 51px;
$sprite-62-height: 51px;
$sprite-62-total-width: 565px;
$sprite-62-total-height: 513px;
$sprite-62-image: '/img/sprite.png';
$sprite-62: (412px, 255px, -412px, -255px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-62', );
$sprite-63-name: 'sprite-63';
$sprite-63-x: 412px;
$sprite-63-y: 306px;
$sprite-63-offset-x: -412px;
$sprite-63-offset-y: -306px;
$sprite-63-width: 51px;
$sprite-63-height: 51px;
$sprite-63-total-width: 565px;
$sprite-63-total-height: 513px;
$sprite-63-image: '/img/sprite.png';
$sprite-63: (412px, 306px, -412px, -306px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-63', );
$sprite-64-name: 'sprite-64';
$sprite-64-x: 412px;
$sprite-64-y: 357px;
$sprite-64-offset-x: -412px;
$sprite-64-offset-y: -357px;
$sprite-64-width: 51px;
$sprite-64-height: 51px;
$sprite-64-total-width: 565px;
$sprite-64-total-height: 513px;
$sprite-64-image: '/img/sprite.png';
$sprite-64: (412px, 357px, -412px, -357px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-64', );
$sprite-65-name: 'sprite-65';
$sprite-65-x: 0px;
$sprite-65-y: 411px;
$sprite-65-offset-x: 0px;
$sprite-65-offset-y: -411px;
$sprite-65-width: 51px;
$sprite-65-height: 51px;
$sprite-65-total-width: 565px;
$sprite-65-total-height: 513px;
$sprite-65-image: '/img/sprite.png';
$sprite-65: (0px, 411px, 0px, -411px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-65', );
$sprite-66-name: 'sprite-66';
$sprite-66-x: 51px;
$sprite-66-y: 411px;
$sprite-66-offset-x: -51px;
$sprite-66-offset-y: -411px;
$sprite-66-width: 51px;
$sprite-66-height: 51px;
$sprite-66-total-width: 565px;
$sprite-66-total-height: 513px;
$sprite-66-image: '/img/sprite.png';
$sprite-66: (51px, 411px, -51px, -411px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-66', );
$sprite-67-name: 'sprite-67';
$sprite-67-x: 102px;
$sprite-67-y: 411px;
$sprite-67-offset-x: -102px;
$sprite-67-offset-y: -411px;
$sprite-67-width: 51px;
$sprite-67-height: 51px;
$sprite-67-total-width: 565px;
$sprite-67-total-height: 513px;
$sprite-67-image: '/img/sprite.png';
$sprite-67: (102px, 411px, -102px, -411px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-67', );
$sprite-68-name: 'sprite-68';
$sprite-68-x: 153px;
$sprite-68-y: 411px;
$sprite-68-offset-x: -153px;
$sprite-68-offset-y: -411px;
$sprite-68-width: 51px;
$sprite-68-height: 51px;
$sprite-68-total-width: 565px;
$sprite-68-total-height: 513px;
$sprite-68-image: '/img/sprite.png';
$sprite-68: (153px, 411px, -153px, -411px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-68', );
$sprite-69-name: 'sprite-69';
$sprite-69-x: 204px;
$sprite-69-y: 411px;
$sprite-69-offset-x: -204px;
$sprite-69-offset-y: -411px;
$sprite-69-width: 51px;
$sprite-69-height: 51px;
$sprite-69-total-width: 565px;
$sprite-69-total-height: 513px;
$sprite-69-image: '/img/sprite.png';
$sprite-69: (204px, 411px, -204px, -411px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-69', );
$sprite-7-name: 'sprite-7';
$sprite-7-x: 52px;
$sprite-7-y: 104px;
$sprite-7-offset-x: -52px;
$sprite-7-offset-y: -104px;
$sprite-7-width: 52px;
$sprite-7-height: 52px;
$sprite-7-total-width: 565px;
$sprite-7-total-height: 513px;
$sprite-7-image: '/img/sprite.png';
$sprite-7: (52px, 104px, -52px, -104px, 52px, 52px, 565px, 513px, '/img/sprite.png', 'sprite-7', );
$sprite-70-name: 'sprite-70';
$sprite-70-x: 255px;
$sprite-70-y: 411px;
$sprite-70-offset-x: -255px;
$sprite-70-offset-y: -411px;
$sprite-70-width: 51px;
$sprite-70-height: 51px;
$sprite-70-total-width: 565px;
$sprite-70-total-height: 513px;
$sprite-70-image: '/img/sprite.png';
$sprite-70: (255px, 411px, -255px, -411px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-70', );
$sprite-71-name: 'sprite-71';
$sprite-71-x: 306px;
$sprite-71-y: 411px;
$sprite-71-offset-x: -306px;
$sprite-71-offset-y: -411px;
$sprite-71-width: 51px;
$sprite-71-height: 51px;
$sprite-71-total-width: 565px;
$sprite-71-total-height: 513px;
$sprite-71-image: '/img/sprite.png';
$sprite-71: (306px, 411px, -306px, -411px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-71', );
$sprite-72-name: 'sprite-72';
$sprite-72-x: 357px;
$sprite-72-y: 411px;
$sprite-72-offset-x: -357px;
$sprite-72-offset-y: -411px;
$sprite-72-width: 51px;
$sprite-72-height: 51px;
$sprite-72-total-width: 565px;
$sprite-72-total-height: 513px;
$sprite-72-image: '/img/sprite.png';
$sprite-72: (357px, 411px, -357px, -411px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-72', );
$sprite-73-name: 'sprite-73';
$sprite-73-x: 408px;
$sprite-73-y: 411px;
$sprite-73-offset-x: -408px;
$sprite-73-offset-y: -411px;
$sprite-73-width: 51px;
$sprite-73-height: 51px;
$sprite-73-total-width: 565px;
$sprite-73-total-height: 513px;
$sprite-73-image: '/img/sprite.png';
$sprite-73: (408px, 411px, -408px, -411px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-73', );
$sprite-74-name: 'sprite-74';
$sprite-74-x: 463px;
$sprite-74-y: 0px;
$sprite-74-offset-x: -463px;
$sprite-74-offset-y: 0px;
$sprite-74-width: 51px;
$sprite-74-height: 51px;
$sprite-74-total-width: 565px;
$sprite-74-total-height: 513px;
$sprite-74-image: '/img/sprite.png';
$sprite-74: (463px, 0px, -463px, 0px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-74', );
$sprite-75-name: 'sprite-75';
$sprite-75-x: 463px;
$sprite-75-y: 51px;
$sprite-75-offset-x: -463px;
$sprite-75-offset-y: -51px;
$sprite-75-width: 51px;
$sprite-75-height: 51px;
$sprite-75-total-width: 565px;
$sprite-75-total-height: 513px;
$sprite-75-image: '/img/sprite.png';
$sprite-75: (463px, 51px, -463px, -51px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-75', );
$sprite-76-name: 'sprite-76';
$sprite-76-x: 463px;
$sprite-76-y: 102px;
$sprite-76-offset-x: -463px;
$sprite-76-offset-y: -102px;
$sprite-76-width: 51px;
$sprite-76-height: 51px;
$sprite-76-total-width: 565px;
$sprite-76-total-height: 513px;
$sprite-76-image: '/img/sprite.png';
$sprite-76: (463px, 102px, -463px, -102px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-76', );
$sprite-77-name: 'sprite-77';
$sprite-77-x: 463px;
$sprite-77-y: 153px;
$sprite-77-offset-x: -463px;
$sprite-77-offset-y: -153px;
$sprite-77-width: 51px;
$sprite-77-height: 51px;
$sprite-77-total-width: 565px;
$sprite-77-total-height: 513px;
$sprite-77-image: '/img/sprite.png';
$sprite-77: (463px, 153px, -463px, -153px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-77', );
$sprite-78-name: 'sprite-78';
$sprite-78-x: 463px;
$sprite-78-y: 204px;
$sprite-78-offset-x: -463px;
$sprite-78-offset-y: -204px;
$sprite-78-width: 51px;
$sprite-78-height: 51px;
$sprite-78-total-width: 565px;
$sprite-78-total-height: 513px;
$sprite-78-image: '/img/sprite.png';
$sprite-78: (463px, 204px, -463px, -204px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-78', );
$sprite-79-name: 'sprite-79';
$sprite-79-x: 463px;
$sprite-79-y: 255px;
$sprite-79-offset-x: -463px;
$sprite-79-offset-y: -255px;
$sprite-79-width: 51px;
$sprite-79-height: 51px;
$sprite-79-total-width: 565px;
$sprite-79-total-height: 513px;
$sprite-79-image: '/img/sprite.png';
$sprite-79: (463px, 255px, -463px, -255px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-79', );
$sprite-8-name: 'sprite-8';
$sprite-8-x: 104px;
$sprite-8-y: 104px;
$sprite-8-offset-x: -104px;
$sprite-8-offset-y: -104px;
$sprite-8-width: 52px;
$sprite-8-height: 52px;
$sprite-8-total-width: 565px;
$sprite-8-total-height: 513px;
$sprite-8-image: '/img/sprite.png';
$sprite-8: (104px, 104px, -104px, -104px, 52px, 52px, 565px, 513px, '/img/sprite.png', 'sprite-8', );
$sprite-80-name: 'sprite-80';
$sprite-80-x: 463px;
$sprite-80-y: 306px;
$sprite-80-offset-x: -463px;
$sprite-80-offset-y: -306px;
$sprite-80-width: 51px;
$sprite-80-height: 51px;
$sprite-80-total-width: 565px;
$sprite-80-total-height: 513px;
$sprite-80-image: '/img/sprite.png';
$sprite-80: (463px, 306px, -463px, -306px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-80', );
$sprite-81-name: 'sprite-81';
$sprite-81-x: 463px;
$sprite-81-y: 357px;
$sprite-81-offset-x: -463px;
$sprite-81-offset-y: -357px;
$sprite-81-width: 51px;
$sprite-81-height: 51px;
$sprite-81-total-width: 565px;
$sprite-81-total-height: 513px;
$sprite-81-image: '/img/sprite.png';
$sprite-81: (463px, 357px, -463px, -357px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-81', );
$sprite-82-name: 'sprite-82';
$sprite-82-x: 463px;
$sprite-82-y: 408px;
$sprite-82-offset-x: -463px;
$sprite-82-offset-y: -408px;
$sprite-82-width: 51px;
$sprite-82-height: 51px;
$sprite-82-total-width: 565px;
$sprite-82-total-height: 513px;
$sprite-82-image: '/img/sprite.png';
$sprite-82: (463px, 408px, -463px, -408px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-82', );
$sprite-83-name: 'sprite-83';
$sprite-83-x: 0px;
$sprite-83-y: 462px;
$sprite-83-offset-x: 0px;
$sprite-83-offset-y: -462px;
$sprite-83-width: 51px;
$sprite-83-height: 51px;
$sprite-83-total-width: 565px;
$sprite-83-total-height: 513px;
$sprite-83-image: '/img/sprite.png';
$sprite-83: (0px, 462px, 0px, -462px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-83', );
$sprite-84-name: 'sprite-84';
$sprite-84-x: 51px;
$sprite-84-y: 462px;
$sprite-84-offset-x: -51px;
$sprite-84-offset-y: -462px;
$sprite-84-width: 51px;
$sprite-84-height: 51px;
$sprite-84-total-width: 565px;
$sprite-84-total-height: 513px;
$sprite-84-image: '/img/sprite.png';
$sprite-84: (51px, 462px, -51px, -462px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-84', );
$sprite-85-name: 'sprite-85';
$sprite-85-x: 102px;
$sprite-85-y: 462px;
$sprite-85-offset-x: -102px;
$sprite-85-offset-y: -462px;
$sprite-85-width: 51px;
$sprite-85-height: 51px;
$sprite-85-total-width: 565px;
$sprite-85-total-height: 513px;
$sprite-85-image: '/img/sprite.png';
$sprite-85: (102px, 462px, -102px, -462px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-85', );
$sprite-86-name: 'sprite-86';
$sprite-86-x: 153px;
$sprite-86-y: 462px;
$sprite-86-offset-x: -153px;
$sprite-86-offset-y: -462px;
$sprite-86-width: 51px;
$sprite-86-height: 51px;
$sprite-86-total-width: 565px;
$sprite-86-total-height: 513px;
$sprite-86-image: '/img/sprite.png';
$sprite-86: (153px, 462px, -153px, -462px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-86', );
$sprite-87-name: 'sprite-87';
$sprite-87-x: 204px;
$sprite-87-y: 462px;
$sprite-87-offset-x: -204px;
$sprite-87-offset-y: -462px;
$sprite-87-width: 51px;
$sprite-87-height: 51px;
$sprite-87-total-width: 565px;
$sprite-87-total-height: 513px;
$sprite-87-image: '/img/sprite.png';
$sprite-87: (204px, 462px, -204px, -462px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-87', );
$sprite-88-name: 'sprite-88';
$sprite-88-x: 255px;
$sprite-88-y: 462px;
$sprite-88-offset-x: -255px;
$sprite-88-offset-y: -462px;
$sprite-88-width: 51px;
$sprite-88-height: 51px;
$sprite-88-total-width: 565px;
$sprite-88-total-height: 513px;
$sprite-88-image: '/img/sprite.png';
$sprite-88: (255px, 462px, -255px, -462px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-88', );
$sprite-89-name: 'sprite-89';
$sprite-89-x: 306px;
$sprite-89-y: 462px;
$sprite-89-offset-x: -306px;
$sprite-89-offset-y: -462px;
$sprite-89-width: 51px;
$sprite-89-height: 51px;
$sprite-89-total-width: 565px;
$sprite-89-total-height: 513px;
$sprite-89-image: '/img/sprite.png';
$sprite-89: (306px, 462px, -306px, -462px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-89', );
$sprite-9-name: 'sprite-9';
$sprite-9-x: 156px;
$sprite-9-y: 0px;
$sprite-9-offset-x: -156px;
$sprite-9-offset-y: 0px;
$sprite-9-width: 52px;
$sprite-9-height: 52px;
$sprite-9-total-width: 565px;
$sprite-9-total-height: 513px;
$sprite-9-image: '/img/sprite.png';
$sprite-9: (156px, 0px, -156px, 0px, 52px, 52px, 565px, 513px, '/img/sprite.png', 'sprite-9', );
$sprite-90-name: 'sprite-90';
$sprite-90-x: 357px;
$sprite-90-y: 462px;
$sprite-90-offset-x: -357px;
$sprite-90-offset-y: -462px;
$sprite-90-width: 51px;
$sprite-90-height: 51px;
$sprite-90-total-width: 565px;
$sprite-90-total-height: 513px;
$sprite-90-image: '/img/sprite.png';
$sprite-90: (357px, 462px, -357px, -462px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-90', );
$sprite-91-name: 'sprite-91';
$sprite-91-x: 408px;
$sprite-91-y: 462px;
$sprite-91-offset-x: -408px;
$sprite-91-offset-y: -462px;
$sprite-91-width: 51px;
$sprite-91-height: 51px;
$sprite-91-total-width: 565px;
$sprite-91-total-height: 513px;
$sprite-91-image: '/img/sprite.png';
$sprite-91: (408px, 462px, -408px, -462px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-91', );
$sprite-92-name: 'sprite-92';
$sprite-92-x: 459px;
$sprite-92-y: 462px;
$sprite-92-offset-x: -459px;
$sprite-92-offset-y: -462px;
$sprite-92-width: 51px;
$sprite-92-height: 51px;
$sprite-92-total-width: 565px;
$sprite-92-total-height: 513px;
$sprite-92-image: '/img/sprite.png';
$sprite-92: (459px, 462px, -459px, -462px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-92', );
$sprite-93-name: 'sprite-93';
$sprite-93-x: 514px;
$sprite-93-y: 0px;
$sprite-93-offset-x: -514px;
$sprite-93-offset-y: 0px;
$sprite-93-width: 51px;
$sprite-93-height: 51px;
$sprite-93-total-width: 565px;
$sprite-93-total-height: 513px;
$sprite-93-image: '/img/sprite.png';
$sprite-93: (514px, 0px, -514px, 0px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-93', );
$sprite-94-name: 'sprite-94';
$sprite-94-x: 514px;
$sprite-94-y: 51px;
$sprite-94-offset-x: -514px;
$sprite-94-offset-y: -51px;
$sprite-94-width: 51px;
$sprite-94-height: 51px;
$sprite-94-total-width: 565px;
$sprite-94-total-height: 513px;
$sprite-94-image: '/img/sprite.png';
$sprite-94: (514px, 51px, -514px, -51px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-94', );
$sprite-95-name: 'sprite-95';
$sprite-95-x: 514px;
$sprite-95-y: 102px;
$sprite-95-offset-x: -514px;
$sprite-95-offset-y: -102px;
$sprite-95-width: 51px;
$sprite-95-height: 51px;
$sprite-95-total-width: 565px;
$sprite-95-total-height: 513px;
$sprite-95-image: '/img/sprite.png';
$sprite-95: (514px, 102px, -514px, -102px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-95', );
$sprite-96-name: 'sprite-96';
$sprite-96-x: 514px;
$sprite-96-y: 153px;
$sprite-96-offset-x: -514px;
$sprite-96-offset-y: -153px;
$sprite-96-width: 51px;
$sprite-96-height: 51px;
$sprite-96-total-width: 565px;
$sprite-96-total-height: 513px;
$sprite-96-image: '/img/sprite.png';
$sprite-96: (514px, 153px, -514px, -153px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-96', );
$sprite-97-name: 'sprite-97';
$sprite-97-x: 514px;
$sprite-97-y: 204px;
$sprite-97-offset-x: -514px;
$sprite-97-offset-y: -204px;
$sprite-97-width: 51px;
$sprite-97-height: 51px;
$sprite-97-total-width: 565px;
$sprite-97-total-height: 513px;
$sprite-97-image: '/img/sprite.png';
$sprite-97: (514px, 204px, -514px, -204px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-97', );
$sprite-98-name: 'sprite-98';
$sprite-98-x: 514px;
$sprite-98-y: 255px;
$sprite-98-offset-x: -514px;
$sprite-98-offset-y: -255px;
$sprite-98-width: 51px;
$sprite-98-height: 51px;
$sprite-98-total-width: 565px;
$sprite-98-total-height: 513px;
$sprite-98-image: '/img/sprite.png';
$sprite-98: (514px, 255px, -514px, -255px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-98', );
$sprite-99-name: 'sprite-99';
$sprite-99-x: 514px;
$sprite-99-y: 306px;
$sprite-99-offset-x: -514px;
$sprite-99-offset-y: -306px;
$sprite-99-width: 51px;
$sprite-99-height: 51px;
$sprite-99-total-width: 565px;
$sprite-99-total-height: 513px;
$sprite-99-image: '/img/sprite.png';
$sprite-99: (514px, 306px, -514px, -306px, 51px, 51px, 565px, 513px, '/img/sprite.png', 'sprite-99', );
$spritesheet-width: 565px;
$spritesheet-height: 513px;
$spritesheet-image: '/img/sprite.png';
$spritesheet-sprites: ($sprite-0, $sprite-1, $sprite-10, $sprite-100, $sprite-101, $sprite-102, $sprite-103, $sprite-104, $sprite-105, $sprite-106, $sprite-11, $sprite-12, $sprite-13, $sprite-14, $sprite-15, $sprite-16, $sprite-17, $sprite-18, $sprite-19, $sprite-2, $sprite-20, $sprite-21, $sprite-22, $sprite-23, $sprite-24, $sprite-25, $sprite-26, $sprite-27, $sprite-28, $sprite-29, $sprite-3, $sprite-30, $sprite-31, $sprite-32, $sprite-33, $sprite-34, $sprite-35, $sprite-36, $sprite-37, $sprite-38, $sprite-39, $sprite-4, $sprite-40, $sprite-41, $sprite-42, $sprite-43, $sprite-44, $sprite-45, $sprite-46, $sprite-47, $sprite-48, $sprite-49, $sprite-5, $sprite-50, $sprite-51, $sprite-52, $sprite-53, $sprite-54, $sprite-55, $sprite-56, $sprite-57, $sprite-58, $sprite-59, $sprite-6, $sprite-60, $sprite-61, $sprite-62, $sprite-63, $sprite-64, $sprite-65, $sprite-66, $sprite-67, $sprite-68, $sprite-69, $sprite-7, $sprite-70, $sprite-71, $sprite-72, $sprite-73, $sprite-74, $sprite-75, $sprite-76, $sprite-77, $sprite-78, $sprite-79, $sprite-8, $sprite-80, $sprite-81, $sprite-82, $sprite-83, $sprite-84, $sprite-85, $sprite-86, $sprite-87, $sprite-88, $sprite-89, $sprite-9, $sprite-90, $sprite-91, $sprite-92, $sprite-93, $sprite-94, $sprite-95, $sprite-96, $sprite-97, $sprite-98, $sprite-99, );
$spritesheet: (565px, 513px, '/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
